html
{
	background-color: #373737;
}

body 
{
	background-color: #F4F4F4;
    max-width: 700px;
    padding: 50px;
    margin: auto;
}

.info-text
{
	font-family: 'Josefin Slab', serif;
	font-size: 160%;
	color: #373737;
	border-radius: 25px;
	padding: 1px 10px;
	margin: 30px;
	background-color: #DCD0C0;
}

#main-name, #main-school
{
	text-align: center;
	font-family: 'Poiret One', cursive;
	color: #C08283;
}

.icons
{
	display: inline-block;
	white-space: nowrap;
}

#icons-left, #profile-icon, #icons-right
{
	display: inline-block;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    width: 33%;
}

#icons-left img
{
	width: 20%;
	padding: 5px;
	float: left;
}

#icons-right img
{
	width: 20%;
	padding: 5px;
	float: right;
}

#profile-icon img
{
	width: 80%;
}