---
layout: default
---

<div class="content">
    <div class="welcome">
        <div class="welcome-header">
            Welcome to my site!
        </div>
        <div class="welcome-body">
            {{ content }}
        </div>
    </div>
    <div class="blog-preview">
        <div class="blog-preview-header">
            Latest Blog Post
        </div>
        <div class="blog-preview-body">
            {% for post in site.posts limit:1 %}
            <p>{{ post.excerpt | strip_html }}</p>
            <a class="blog-preview-title" href="{{ post.url }}">Continue reading: '{{ post.title }}'...</a>
            {% endfor %}
        </div>
    </div>
    <div class = "projects">
        <div class="projects-header">
            Selected Projects
        </div>
        <div class="projects-body">
            <div class="project">
                <a href="https://github.com/pwnclub/just-type"><img src="img/just-type.png" width="420" height="210"></a>
                <div class="project-name">
                    Just Type
                </div>
                <div class="project-description">
                    Typing speed test application
                </div>
            </div>
            <div class="project">
                <a href="https://github.com/pwnclub/kinect-4"><img src="img/kinect-four.png" width="420" height="210"></a>
                <div class="project-name">
                    Kinect Four
                </div>
                <div class="project-description">
                    Leap Motion controlled Connect Four vs. AI
                </div>
            </div>
            <div class="project">
                <a href="https://github.com/pwnclub/competitive-programming"><img src="img/dmoj-sols.png" width="420" height="210"></a>
                <div class="project-name">
                    DM::OJ Solutions
                </div>
                <div class="project-description">
                    Select solutions to problems on DM:OJ
                </div>					
            </div>
        </div>
    </div>
</div>